*{
    margin: 0px;
    box-sizing: border-box;
}

navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: gainsboro;
    border: 1px solid #000;
    height: 70px;
    padding: 10px;
}

.boton-balon{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 30px;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
}

/* colocar icono de la pelota */

section.Presentacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    
}

section.Cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    width: 50vw;
    margin-inline-start: 25%;
    
}

.Agenda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 225px 10px 225px;
    border: 1px solid rgb(37, 37, 159);
    background: rgb(37, 37, 159);
    
}

.Texto-Agenda {
    color: white;
}


.Partido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    padding-left: 5px; padding-right: 5px;
}